:root {
    --color-primary: #495e57;
    /* Color primario */
    --color-primary-2: #f4ce14;
    /* Color primario */
    --color-secondary: #ee9972;
    /* Color secundario */
    --color-secondary-2: #fbdabb;
    /* Color secundario */
    --color-highlight: #edefee;
    /* Color secundario */
    --color-highlight-2: #333333;
    /* Color secundario */

}

body {
    /* background-color: var(--color-primary); */
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style-type: none;


}


body h1 {
    font-size: 64px;
    font-family: 'Markazi Text', serif;
}

body h2,
h3 {
    font-size: 40px;
    font-family: 'Markazi Text', serif;
}

body p {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

body a {
    text-decoration: none;
    color: var(--color-highlight-2);
    font-size: 2rem;
    font-family: 'Markazi Text', sans-serif;
}



nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    /* padding: 1rem; */
    padding-left: 5%;
    padding-right: 5%;

}

nav div {
    align-self: center;
}


nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-right: 1rem;

}

nav a {
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

a:hover {
    color: var(--color-primary-2);
}


footer {
    border-top: 1px solid var(--color-primary);
    /* Puedes ajustar el color y el grosor según tus preferencias */
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    white-space: nowrap;

}

footer div {
    padding: 1rem;
}

footer ul {
    list-style-type: none;
    margin: .5rem;
    padding: 0;
}


footer .container_img {
    align-self: center;
}


.hero_section {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 2rem;
    /* align-items: center; */
}

button {
    font-family: 'Markazi Text', serif;
    font-size: 1.5rem;
    background-color: var(--color-primary-2);
    padding: .5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: var(--color-highlight-2);
    border-radius: 16px;
    border: none;
    cursor: pointer;

}

button:hover {
    color: var(--color-highlight);
}

.hero_section h1,
h2 {
    margin: 0
}

.hero_section h1 {
    color: var(--color-primary-2);
}

.hero_section h2,
p {
    color: var(--color-highlight);
    font-weight: bold;
}

.hero_section button {
    margin-top: 2rem;
}

.hero_text {
    width: 350px;
    margin-right: 10rem;

}

.hero_section p {
    margin-top: 2rem;
    text-align: justify;
}

.hero_bg {
    background-color: var(--color-primary);
    height: 75%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.highlights {
    padding-left: 5%;
    padding-right: 5%;
}

.highlights>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;

}

.containerlist {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    list-style: none;

}

.cardlist {
    border-radius: 2rem;
    margin: 1rem;
    padding: 2rem;
    list-style: none;
    background-color: var(--color-highlight);
}

.cardproduct {
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* align-items: center; */
}


.cardproduct img {
    max-width: 100%;
    height: auto;
    display: block;
}

.cardproduct>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardproduct h3 {
    font-size: 1.5rem;
    color: var(--color-secondary);
}

.cardproduct p {
    color: var(--color-primary);
}

.testimonials {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;

}

.testimonials ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    list-style: none;
    padding: 0;
}

.testimonials li {

    background-color: var(--color-highlight);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

}

.testimonials li>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials p {
    color: var(--color-highlight-2);
}

.testimonials img {
    border-radius: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}


.about {

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;

}

.about h1,
h2 {
    margin: 0
}

.about h1 {
    color: var(--color-primary-2);
}

.about p {
    color: var(--color-highlight-2);
    font-weight: bold;
    text-align: justify;
}

.img img {
    width: 100%;
    height: auto;
    display: block;
}


.abouttext {
    /* width: 500px; */
    margin-right: 2rem;
}

form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
    /* Espacio entre las columnas */
    max-width: 600px;
    margin: 0 auto;
    /* Centrar el formulario en la página */
}

form>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

input {
    padding: .5rem;
    justify-self: center;
    background-color: var(--color-highlight);
    border: none;
    border-radius: 16px;
}

select {
    padding: .5rem;
    background-color: var(--color-highlight);
    border: none;
    border-radius: 16px;
}

label {
    font-size: 40px;
    font-family: 'Markazi Text', serif;
}

input[type="submit"] {
    grid-column: span 2;
    /* Hace que el botón ocupe dos columnas */
    justify-self: center;
    /* Centra el botón dentro del formulario */
    font-family: 'Markazi Text', serif;
    font-size: 1.5rem;
    background-color: var(--color-primary-2);
    padding: .5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: var(--color-highlight-2);
    border-radius: 16px;
    border: none;
    margin: 2rem;
}

input[type="submit"]:hover {
    color: var(--color-highlight);
}


.nav-mobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    .navbar>ul>li>a{
font-size: 1.5rem;
    }
    .hero_section {

        padding-left: 3rem;
        padding-right: 10%;
        justify-content: space-between;

    }

    .hero_text {
        margin-right: 2rem;
    }

    .highlights {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .containerlist {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .testimonials ul {
        grid-template-columns: repeat(2, minmax(0, 1fr));

    }

    footer {
        text-align: center;
        grid-template-columns: repeat(2, minmax(0, 1fr));


    }
}






@media screen and (max-width: 768px) {
    .hero_section {
        flex-direction: column;
        padding-left: 2rem;
        /* align-items: ; */
        /* text-align: center; */

    }

    .hero_image {
        visibility: hidden;
        position: absolute;

    }

    .hero_text {
        /* margin-left: 10rem; */
        margin-right: 0;
        /* background: #000; */
        justify-self: center;
        align-items: center;
        padding-bottom: 2rem;
    }

    .hero_bg {
        height: 100%;
    }

    .highlights {
        padding-left: 0;
        padding-right: 0;
    }

    .containerlist {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .cardproduct img {
        display: none;
    }

    .testimonials ul {
        display: block;
    }

    .testimonials img {
        display: none;
    }

    footer {
        grid-template-columns: 1fr;
        /* Cambia a una columna para pantallas más pequeñas */
        text-align: center;
        /* Centra el contenido en pantallas más pequeñas */
    }

    .about {
        display: block;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .abouttext {
        width: auto;
        margin-right: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;

    }

    nav {
        display: flex;
        justify-content: space-between;

    }

    .navbar {
        display: none;


    }

    .nav-mobile {
        display: flex;

    }

    .nav-mobile button {
        position: relative;
        background-color: white;
        padding: 0;

    }

    .nav-mobile button:hover {
        color: var(--color-primary-2);

    }

    .navbar-mobile {
        background-color:white;
        /* display: block; */
        position: fixed;
        padding: 5%;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 50%;
        z-index: 10;
        display: flex;
         /* justify-content: space-between;  */
         flex-direction: column;
         align-items: flex-start;
    }
    .navbar-mobile button{   
        margin-left: auto;
    }
    .navbar-mobile li{
        width:80%;
        border-bottom: 1px solid var(--color-primary);
    }
}



/* @media (max-width: 700px) {
    .grid-adjustable-columns {
      display: grid;
      grid-auto-flow: row;
    }
  }
  
  @media (min-width: 701px) {
    .grid-adjustable-columns {
      width: min(1000px,75rem);
      margin: 0 auto;
      grid-auto-flow: column;
      gap: 1em;
    } */